<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "avatar.jpg" %>
  </div>

  <div id="content">
    <h1> I am Hoang Nguyen </h1>
    <p> I am a newbie on Ruby on Rails </p>
    <p> I just have 3 days to submit my exercise to coderschool.vn </p>
    <p> What should I do </p>
  </div>
</div>
